.offer {
  margin-top: 74px;
}

.offer .container {
  display: flex;
  flex-wrap: wrap;    
}

.offer__gallery {
  margin-top: 16px;
}

.offer__tabs {
  margin-top: 33px;
  margin-left: 6px;
}

.offer-wrapper { 
  width: 999px; 
  display: flex;  
}
