.header {
  background-color: $background-grey;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 14px;
}

.header__logo {
  margin-left: 7px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__logo-img {
  vertical-align: bottom;
}

.header__nav {
  margin-right: 7px;
  margin-left: 68px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 68px;
  row-gap: 20px;

  list-style: none;
}

.header__nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: $grey;

  text-decoration: none;

  &:hover {
    color: $red;
  }

  &:active {
    color: $red;
    opacity: 0.6;
  }
}

.header__nav--secondary .header__nav-list {
  column-gap: 66px;
}



