.footer {
  margin-top: 148px;

  background-color: $background-grey;
}

.footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__nav__list {  
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 68px;
  list-style: none;
}

.footer__nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: $grey;

  text-decoration: none;

  &:hover {
    color: $red;
  }

  &:active {
    color: $red;
    opacity: 0.6;
  }
}

.footer__nav--secondary {
  column-gap: 66px;
}